.contact {
  background-color: #fff;
  padding-top: 88px;
  padding-bottom: 90px;
}

.wrapper__contact {
}

.wrapper__contact--byn {
  display: flex;
  justify-content: center;
  padding-right: 14.2%;
}

.contact__content {
}

.contact__title {
  font-size: 34px;
  font-weight: 600;
  line-height: 54px;
  display: flex;
  justify-content: center;
  padding-top: 1px;
  padding-right: 18px;
}

.contact__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  padding-right: 24px;
  padding-top: 39px;
  display: flex;
  justify-content: center;
}

.contact__text--top {
}

.contact__text--bot {
  padding-left: 67px;
}

.contact__button {
  display: flex;
  justify-content: center;
  width: 180px;
  height: 42px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background: black;
  margin-left: 150px;
  margin-top: 40px;
  border-radius: 21px;
  transition: background-color 0.2s ease-in, top 0.2s ease-in;
}

.contact__button:hover,
.contact__button:focus {
  background-color: rgb(92, 72, 72);
}

.contact__button:active {
  position: relative;
  top: 1px;
  background-color: black;
}

.btn {
  font-size: 18px;
  font-weight: 400;
}

.contact__button:hover {
  text-decoration: underline;
  text-decoration-color: rgb(34, 109, 179);
}

.contact__image {
  display: flex;
  justify-content: center;
  padding-top: 81px;
  column-gap: 60px;
  padding-right: 20px;
}

.contact__footer {
  display: flex;
  justify-content: center;
  padding-top: 39px;
}

.contact__text--bottom {
  font-size: 14px;
  font-weight: 400;
  color: #828282;
}

.around {
  padding-left: 93px;
}

.around--bottom {
  padding-right: 19px;
}
