/* HEADER */

.header {
  padding-top: 46px;
  background-color: #f1f1f1;
}

.header__image {
  margin-top: -28px;
}

.header__top {
  display: flex;
  justify-content: space-between;
}

.header__bottom {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
}

/* Logo */
.logo {
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  color: #000000;
  letter-spacing: 1px;
}

.logo::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #fda300;
  position: relative;
  left: 107px;
  bottom: 5px;
}

/* Nav */
.nav {
  line-height: 50px;
  font-weight: bold;
}

.nav__link {
  color: #000000;
  padding-right: 42px;
}

.nav__link--grey {
  color: #606060;
  padding-right: 46px;
}

.nav__link:last-child {
  padding-right: 0;
}

/* Content */
.content {
  margin-top: 95px;
  max-width: 550px;
  height: 208px;
}

.content__title {
  font-size: 44px;
  font-weight: bold;
  line-height: 66px;
  letter-spacing: 1px;
}

.content__title:hover {
  text-decoration: underline;
  text-decoration-color: aqua;
}

.content__desc {
  font-size: 14px;
  line-height: 28px;
  padding-top: 21px;
  font-weight: 400;
}

.content__desc:hover {
  text-decoration: underline;
  text-decoration-color: aqua;
}

.top {
  letter-spacing: 1px;
}

.bottom {
  letter-spacing: 1px;
}
