.section {
  background-color: #ffffff;
  margin-top: 91px;
}

.wrapper--section {
}

.section__item {
  display: flex;
}

.section__block {
}

.section__image {
}

.section__image--last {
}

.section__link {
}

.section__lin {
  color: black;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

.section__title {
}

.section__title--txt {
}
